@model KVDB.Models.Search

@{
	ViewData["Title"] = "Anasayfa";
}

<div>

	<h1 style="text-align:center;margin-block:1.5em;">Kurtlar Vadisi Database 🐺</h1>

	<div>
		<form class="search-form" asp-controller="Home" asp-action="Index" method="GET">
			<input class="search-input" name="SearchString" placeholder="Bir replik arat..." />
			<input value="1" name="page" type="hidden" /> 
			<button type="submit" class="search-button">Bul</button>
		</form>
	</div>

	<div style="display:flex;justify-content:space-between;margin-top:2em;">
		<div class="pagination">
			@if (Model.ItemsFound > 0)
			{
				@if (Model.CurrentPage > 1)
				{
					<a href="@Url.Action("Index", "Home", new { SearchString = Model.SearchString, page = Model.CurrentPage - 1 })">&lt; Önceki</a>
				}
				@if (Model.CurrentPage < Model.ItemsFound / 20)
				{
					<a href="@Url.Action("Index", "Home", new { SearchString = Model.SearchString, page = Model.CurrentPage + 1 })">Sonraki &gt;</a>
				}
			}
		</div>


		<div class="found-count">
			@Model.ItemsFound sonuç bulundu.
		</div>
	</div>

	<form class="lucky-form" asp-controller="Home" asp-action="Index" method="GET">
		<input value="" name="SearchString" type="hidden"/>
		<input value="1" name="page" type="hidden" />
		<input value="true" name="isRandom" type="hidden" />
		<button>Kendimi Şanslı Hissediyorum</button>
	</form>

	<div class="videos-container">

		@foreach (var item in Model.TranscriptsList)
		{
			<div class="video-container">

				<div style="text-align:start">
					@item.Episode.Title.Substring(0, item.Episode.Title.Length >= 50 ? 50 : item.Episode.Title.Length)...
				</div>

				<video autoplay="@(Model.isRandom ? true : false)" data-transcript-id="@item.Id" data-start-time="@item.Start" controls>
					<source src="https://localhost:7162/videos/@item.Episode.YoutubeId/@item.Episode.Title" type="video/mp4">
					Your browser does not support the video tag.
				</video>

				<div>
					Bulunan Replik: @Html.DisplayFor(modelItem => item.Text)
				</div>
				<div>
					Youtube Link: <a target="_blank" href="https://youtube.com/watch?v=@item.Episode.YoutubeId&t=@(@item.Start)s">Linke Git</a>
				</div>

				<form class="download-form" asp-controller="Home" asp-action="Download">
					<span data-transcript-id="@item.Id" id="currentTime">@item.Start</span>
					<span>. saniyeden itibaren</span>
					
					<input data-transcript-id="@item.Id" class="startFrom" name="from" value="30" type="hidden" />

					<input type="hidden" name="videoFile" value="@item.Episode.YoutubeId/@item.Episode.Title" />

					<input type="number" required placeholder="Saniye" name="to"/>

					saniye indir.
					<div>
						<button type="submit">
							İndir
						</button>
					</div>
				</form>
			</div>
		}

	</div>

</div>


