@model IEnumerable<KVDB.Models.Transcript>

@{
	ViewData["Title"] = "Home Page";
}

<div>
	
	<div>
		<form class="search-form" asp-controller="Home" asp-action="Index" method="GET">
			<input class="search-input" name="SearchString" placeholder="Bir replik arat..." />
			<button type="submit" class="search-button">Bul</button>
		</form>

		<div class="found-count">
			@Model.Count() sonuç bulundu.
		</div>

	</div>


	<div class="videos-container">

		@foreach (var item in Model)
		{
			<div class="video-container">


				<video onloadedmetadata="handleLoad(this, @(@item.Start - 5))" controls>
					<source src="@Url.Action("Play", "Actions", new { episodeId = item.EpisodeId })" type="video/mp4">
					Your browser does not support the video tag.
				</video>

				<div>
					Bulunan Replik: @Html.DisplayFor(modelItem => item.Text)
				</div>
				<div>
					Youtube Link: <a target="_blank" href="https://youtube.com/watch?v=@item.Episode.YoutubeId&t=@(@item.Start)s">Linke Git</a>
				</div>
			</div>
		}

	</div>

</div>


